<style>
    .navbar-logo {
        height: 100px;
    }

    @media only screen and (max-width: 400px) {
        .navbar-logo {
            height: auto;
            width: 100%;
        }
    }

    .dropbtn {
        padding: 16px 35px 16px 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        outline: none;
        text-align: center;
        background: transparent;
        width: 100%;
        transition: all .3s;
        border: 2px solid transparent;
    }

    .dropbtn i {
        margin: 0 5px;
    }

    .dropbtn:after {
        content: '';
        font: 17px, "Roboto";
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        right: 16px;
        top: 18px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .dropdown-custom {
        top: 30px;
        right: 60px;
        position: absolute;
        display: inline-block;
    }

    .dropdown-custom-content {
        display: none;
        position: absolute;
        right: 0px;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-custom-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-custom a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }

    @media only screen and (max-width: 800px) {
        .dropdown-custom {
            right: 0.6rem;
            top: 0.7rem;
        }
        .dropbtn {
            content: "";
        }
        .navbar-logo {
            max-width: 80%;
        }
    }

    @media only screen and (min-width: 800px) {
        .navbar-nav {
            margin: auto !important;
        }
    }

</style>

<nav class="navbar navbar-expand-lg" style="background: transparent !important;">
    <div class="container-fluid">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/"><img src="/media/logo.png" class="navbar-logo"></a>
            </li>
        </ul>
    </div>
</nav>

<div class="dropdown-custom">
    <button onclick="myFunction()" class="dropbtn">
        <i class="fa fa-user"></i><span class="no-phone"><%= current_user.username %></span><i class="fa fa-caret-down"></i>
    </button>
    <div id="myDropdown" class="dropdown-custom-content">
        <a href="/">Home</a>
        <a href="/updateprofile">Update Profile</a>
        <form action="/logout" method="post" style="margin: 12px 16px;">
            <button class="btn btn-outline-danger" type="submit">Logout</button>
        </form>
    </div>
</div>

<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.add("show");
    }

    window.onclick = function (event) {
        if (event.target.nodeName != "I" && event.target.nodeName != "SPAN" && event.target.nodeName != "BUTTON") {
            var dropdowns = document.getElementsByClassName("dropdown-custom-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>